body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Stoper */
#stopwatch-display {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
img.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.filters {
  margin-bottom: 10px;
}
