html {
  background-color: #ddbeaa;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 10px;
}
.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* index */

.link1 {
  color: red;
}
.link2 {
  color: green;
}
.link3 {
  color: blue;
}

/* cw1 */

.author-name {
  color: blue;
}

/* cw2 */

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #000;
  padding: 6px 8px;
}

/* cw3 */

.squares-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.squares-row {
  display: flex;
  gap: 20px;
}

.square {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.square1 {
  background-color: #ff6b6b;
}
.square2 {
  background-color: #4ecdc4;
}
.square3 {
  background-color: #45b7d1;
}
.square4 {
  background-color: #96ceb4;
}
